<!--The content below is only a placeholder and can be replaced.-->
<div class="page-container">
    <header>
        <nav class="header-nav">
            <ul>
                <li>
                    <a routerLink='/home'>DASH BOARD APP</a>
                </li>
                <li>
                    <a routerLink='/home'>HOME</a>
                </li>
                <li>
                    <a routerLink='/login'>LOGIN</a>
                </li>
                <li>
                    <a routerLink='/chart/linechart'>LINE CHART</a>
                </li>
                <li>
                    <a routerLink='/chart/barchart'>BAR CHART</a>
                </li>
            </ul>
        </nav>
    </header>
    <router-outlet></router-outlet>
    <footer>
        <div>Dashboard footer</div>
    </footer>
</div>


